<form [formGroup]="form">
    <div class="row">
        <div class="col-lg-12">
            <h2>Manage Organization Admin</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- <div class="form-group">
                <label for="selRole" class="form-label"> Role</label>
                <select formControlName="selRole" class="form-control" name="selRole">
                    <option *ngFor="let role of roleList" value="{{role.roleVal}}">{{role.roleName}}</option>
                </select>
            </div> -->

            <div class="form-group">
                <label for="name" class="form-label"> User Name</label>
               <input type="text" formControlName="name" id="name" class = "form-control"/>
            </div>
            <div class="form-group">
                <label for="userId" class="form-label"> UserId</label>
               <input type="text" formControlName="userId" id="userId" class = "form-control"/>
            </div>
            <div class="form-group">
                <label for="mobNo" class="form-label"> Mobile</label>
               <input type="text" formControlName="mobNo" id="mobNo" class = "form-control"/>
            </div>
            <div class="form-group">
                <label for="emailid" class="form-label"> Email</label>
               <input type="text" formControlName="emailid" id="emailid" class = "form-control"/>
            </div>
            <div>
                <button (click)="AddOrgAdmin()">Add Org Admin</button>
            </div>
        </div>
    </div>
</form>
<div>
    <table class="table">       
        <tr>
            <td>
                User Name
            </td>
        
            <td>
                UserId
            </td>
            <td>
                User Role
            </td>
            <td>
                Email
            </td>
        
            <td>
                Mobile
            </td> 
            <td>
                Actions
            </td>
        </tr>
        <tr *ngFor="let usr of userList">
            <td>
                {{usr.name}}
            </td>
            <td>
                {{usr.userId}}
            </td>
            <td>
                {{usr.roleName}}
            </td>
            <td>
                {{usr.emailid}}
            </td>
            <td>
                {{usr.mobNo}}
            </td>            
            <td>
                <button (click)="OnEdit(usr.mapId)">Edit</button>
                <button (click)="OnDelete(usr.mapId)">Delete</button>
            </td>
        </tr>
    </table>
</div>
